<div class="row text-center text-lg-left">
{% for file in site.static_files %}
  {% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or 
      file.extname == '.jpeg' or 
      file.extname == '.JPG' or 
      file.extname == '.JPEG' %}

      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname,"" %}

    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{ file.path }}" title="{{ filename }}" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{{ file.path }}" alt="{{ filename }}" />
        <span class="caption">{{ filename }}</span>
      </a>
    </div>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
